body {
  --lobbies-background: #699de6 0% 0% no-repeat padding-box;
  --decks-background: #416b81 0% 0% no-repeat padding-box;
}

/* .appHeader {
  border-bottom: 1px solid white;
} */

#App-wrapper > main {
  padding: 49px 0px 15px 0px;
  font: 'roboto';
}

.profileMenu {
  margin-right: -1px;
  /* margin-top: -1px; */
  height: min-content;
  padding-bottom: 1rem;
  border: 1px solid;
  border-top: 0;
  border-right: 0;
}

.appHeaderActions button {
  color: white;
}
a.bx--header__name {
  font-size: 1rem;
  font-family: 'Bungee';
  padding: 0 1rem 0 1rem;
}

.bx--header__nav {
  padding-left: 0;
}

.bx--header__nav::before {
  content: none;
}

.bx--header__action:focus {
  border-color: transparent;
}
.bx--header__action--active,
.bx--header__action--active:focus {
  border-top: 1px solid transparent;
  border-bottom: 1px solid #161616;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.bx--header__menu-item {
  font: 'roboto';
}

.decks {
  background: var(--decks-background);
}

.lobbies {
  background: var(--lobbies-background);
}
