html {
  font-size: 16px;
}

#App-wrapper {
  display: flex;
  flex-grow: 1;
}

#App-wrapper > header h2 {
  font-size: 2.9rem;
  color: #003366;
  text-shadow: -2px -2px white;
  font-family: 'Bebas Neue';
}
#App-wrapper > main {
  padding: 15px;
  padding-top: 57px; /* 42 for header +15*/
  background-color: #495d71;
  flex-grow: 1;
}

#App-menu {
  font-size: 1.2rem;
}
